@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SwiffLib";
}

@section keywords {
    <meta name="keywords" content="Swiff file, swf, Flash, parser, decoder, DoABC, tags" />
}

@section topheading {
    SwiffLib
}

@section subheading {
    Incomplete Swiff-file parser
}

@section description {
    The parser is incomplete, it was never intended to specialize in reading that
    many tags, but DoABC2, and it can not parse even ABCCode.
}

@section source {
    href="https://mega.nz/#!nRJHTABD!nq-estJW5QCDe_kvtGqv5UOpGBbEAG2QDmuUGBa3Klg" target="_blank"
}

@section release {
    href="https://mega.nz/#!bUIDlYaB!YAcdDwJSSoHIPUk6Y_kIAyv5X7MdKWMLs-6W9R5cmAM" target="_blank"
}

@section projectspecs {
    Windows WPF application. C#, .NET Framework 4.7.2.
}

@section aboutextra {
    <h1 class="heading">About the development</h1>
    <p>Programming this project was a subtask of another one, for which
    I had to retrive a constant string from a class. For that reason,
    I was not interested in parsing other tags but DoABC2. Actually, the whole
    project ground to a halt when I realized what a tremendous work it would have been
    to parse the assembly code found in the ABC2 file.</p>
}

