@section keywords {
    <meta name="keywords" content="linear time, FLoyd's tortoise and hare, proof, algorithm, cycle detection, tail, cycle, loop" />
}

@section topheading
{
    @(Model.GB ? "Floyd's tortoise and hare" : "Floyd teknás és nyúl algoritmusa")
}

@section subheading
{
    @(Model.GB ? "Linear time cycle detection algorithm" : "Lineáris idejű ciklusdetektáló algoritmus")
}

@section special {
    <script src="~/js/algos/floyd.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/algos/floyd.css">
}

@section description
{
    @if (Model.GB)
    {
        <article>
            @Html.Raw(Nusstudios.Common.Tools.QueryProcessed("floyds_tortoise_and_hare"))
        </article>
    }
    else
    {
        <article>
            @Html.Raw(Nusstudios.Common.Tools.QueryProcessed("floyds_tortoise_and_hare_hu"))
        </article>
    }

    <div id="configuration">
        <div>
            <label for="tail">Tail length: </label>
            <input type="text" id="tail" name="tail">
        </div>
        <div>
            <label for="cycle">Cycle length: </label>
            <input type="text" id="cycle" name="cycle">
        </div>
        <div>
            <label for="time">Move ms: </label>
            <input type="text" id="move" name="move">
        </div>
        <input type="button" id="restart" value="Restart" onclick="init()">
    </div>
    <canvas id="floyd" height="750"></canvas>
    <script>init()</script>
}

@section btnname
{

}

@section url
{

}
