@{
    ViewData["Title"] = "Contact";
}

@section meta {
    <meta name="keywords" content="Nusstudios,contact,requests,questions" />
    <meta name="description" content="Contact Nusstudios by email" />
    <meta name="author" content="Patrik Nusszer" />
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/latofonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_1.css">
    <link rel="stylesheet" type="text/css" href="~/css/contact.css">
}

@section scripts {
    <script src="~/js/master.js"></script>
}

<p>
    @(Model.GB ? "Write a letter to patrik.nusszer@icloud.com should you have any questions regarding my projects or education" : "Írj egy levelet a patrik.nusszer@icloud.com címre vagy hívj a +36702889403 számon, bármi kérdésed akadna a projektjeimmel vagy magántanításommal kapcsolatban")
    <br>
</p>