@{
    ViewData["Title"] = "Magántanítás";
}

@section meta {
    <meta name="keywords" content="Nusstudios,Patrik Nusszer,magántanítás,programozás oktatás,programozás tanítás,C#,Java,korrepetálás,tehetséggondozás" />
    <meta name="description" content="C#, Java magántanítás" />
    <meta name="author" content="Patrik Nusszer" />
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/latofonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/about.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_1.css">
}

@section scripts {
    <script src="~/js/master.js"></script>
}

<img id="profile" src="~/images/profiles/3.jpg" height="350">
<article id="aboutme">
    @if (Model.GB)
    {
        <p>
            I undertake programmer private tutoring in the following forms:

            <ul>
                <li>From basics</li>
                <li>Complementary tutoring besides your current education. If it's a secondary school I am always competent. If it is in-between secondary and tertiary education then again I am very likely competent. I am not well-versed in the curricula of foreign tertiary institutions and the range of courses held by companies, if you are learning at college or university better ask first what exactly you need help with</li>
                <li>Mentoring based on personal preferences; tell me just one special topic you would like to know more about</li>
            </ul>
        </p>
        <p>
            The languages I am most acquainted with are C, C++, C#, Java... I have moderate experience with SQL, HTML/CSS/JS, ASP.NET Core MVC, and limited experience with PHP.
        </p>
        <p>
            +36702889403<br>
            patrik.nusszer @@icloud.com<br>
            Pricing: 15$/13€/11£ for 60 minutes (only fiat currency)
        </p>
        <p>
            If you are not Hungarian I can teach you with Teamviewer. It is a very handy piece of software...
        </p>
        <p>
            If you would like to learn programming and look for a stable point I am here to give you what you need.
        </p>
        <p>
            The style of tutoring follows a language agnostic, algorithmic approach, which every programmer eventually gains through the years and realises our most basic elements used for building software has not really changed in the past 20 years.
        </p>
        <p>
            Since then many paradigms has born, but most importantly, our solutions' main logic is still constituted by the elements of the structured programming paradigm.
            The following paradigms - as its predecessors - are not alternate ways of programming but extensions built upon the previous, so that we can write more systematic, protocol-following, reusable and more abstract code which helps industry-scale projects to be scalable and easily maintanable over time.
        </p>
        <p>
            Most programmer curricula includes introduction of well-known basic algorithms (pattern matching/sorting/pathfinding/backtrack), how basic data structures work (que/stack/arraylist/linkedlist/different hashmaps/self balancing binary trees/graphs and stuff...), elements of the structured paradigm (sequence, conditional, repetition, behaviour and state), writing algorithms/problem solving, object oriented modeling (runtime polymorphism/inheritance/encapsulation and friends...), regular expressions, simple text file I/O, low level file I/O.
            These are the things I can help you with the greatest confidence.
        </p>
        <p>
            I am 22 years old, and have been around the programming world since 16. I have self taught and seen a load of real-world problems you certainly have not seen at school.
        </p>
    }
    else
    {
        <p>
            Programozói magántanítást vállalok:
            <ul>
                <li>Alapoktól felépítve,</li>
                <li>Korrepetálásként emelt infó érettségihez, OKJ-s képzéshez, akár főiskolai/egyetemi feladathoz vagy releváns tárgyhoz, utóbbi attól függ pontosan mihez kell a segítség, illetve hogy az iskolád mit ír az adott tárgyról,</li>
                <li>Egyedi igény szerinti mentorálás keretében</li>
            </ul>
        </p>

        <p>
            A nyelvek amiket a leginkább ismerek a C, C++, C#, Java (SE). Mérsékelt tapasztalatom van az SQL, HTML-CSS-JavaScript nyelvekben, az ASP.NET Core MVC technológiában, illetve kis limitált tudásom van a PHP ban is.
        </p>
        <p>
            Teamviewer vagy Skype segítségével is szívesen oktatok abban az esetben ha nem tudunk máshol találkozni.
        </p>
        <p>
            Weboldal, portfólió:<br>
            https://nusstudios.com/Home/Edu
        </p>
        <p>
            +36702889403<br>
            patrik.nusszer@icloud.com<br>
            Árazás: 4000 FT / 60 perc (krptovalutát nem fogadok el)
        </p>
        <p>
            Ha szeretnél elkezdeni programozni, és keresel egy stabil pontot, akkor át tudom adni amire szükséged van.
        </p>
        <p>
            A hangsúly pedig nem a lexikális részén van, hanem a nyelvektől független (nyelvagnosztikus) algoritmikus gondolkodáson, amelyet minden programozó elsajátít az évek alatt mire rájön, hogy legalapvetőbb építőelemeiket tekintve majdnem az összes nyelv ugyanolyan, méghozzá több mint 20 éve.
        </p>
        <p>
            Azóta több paradigma is született, de a legfontosabb, hogy a megoldásunk fő logikáját még mindig a strukturált programozási paradigma elemeivel oldjuk meg. Az ő utána következők - ahogy ősei is - nem alternatív megközelítések, hanem az előzőnek a kibővítése, hogy a projektjeinket még rendszerezettebbé, protokollosabbá, újrafelhasználhatóbbá és absztraktabbá tegyük, amely a nagyvállalati méretű projektet hosszú távú könnyű bővíthetőségén segít.
        </p>
        <p>
            A nyelvek egymástól bizonyos részletekben térnek csak el, amely miatt esetleg van amelyik adekváltabb egy olyan feladatra amelyre a másik kevésbé, esetleg az egyik az egyszerűségre törekszik, a másik alacsonyabb szintű és több kontrollt ad a kezünkbe, a másik átmenet a kettő között, szintaktikailag is kicsit mások, illetve a paradigmákról is esetleg apróságokban más lehet a véleményük, de alapvetően megegyeznek legfontosabb elemeikben.
        </p>
        <p>
            Nagyjából minden programozói tanterv része alapvetőbb ismert algoritmusok bemutatása (mintaillesztés/rendezés/útvonalkeresés gráfokban/visszalépéses keresés), ismert fontosabb adatszerkezetek belülről (önkiegyensúlyozó bináris keresőfák, hasítótáblák, 1 és többdimenziós tömbök, tömblista, láncolt lista, gráfok), a strukturált paradigma elemei (elágazás/ciklus/szekvencia/viselkedés és állapot), algoritmusok írása/problémamegoldás, objektum orientált modellezés (futásidejű polimorfizmus/öröklődés/egységbezárás és társai), regular expressions, szöveges fájlkezelés, illetve alacsony szintű fájlkezelés. Ezek azok amikben biztosan tudok segíteni, természetesen ha akad más, kérdezz rá tudom-e vállalni.
        </p>
        <p>
            22 éves vagyok, 16 éves korom óta kizárólag magamat tanítva jutottam el idáig, és így valóvilágbeli problémákon keresztül szereztem a tapasztalataimat.
        </p>
    }
</article>