@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/latofonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/master_2.css">
    <link rel="stylesheet" type="text/css" href="~/css/pt4zsb.css">
}

@section scripts {
    <script src="~/js/master.js"></script>
    <script src="~/js/pt4zsb.js"></script>
}

<h1>
    Click to get Bozai Zsuzsanna back!
</h1>
<a asp-controller="PT4ZSB" asp-action="plus_zsb" class="btn_plus_zsb">···</a>

<p class="info">
</p>
