@charset "UTF-8";
/* CSS Document */

@keyframes ununderline {
	0% {
		width: 100%;
		visibility: visible;
	}
	100% {
		width: 0%;
		visibility: hidden;
	}
}

@keyframes underline {
	0% {
		width: 0%;
		visibility: visible;
	}
	100% {
		width: 100%;
		visibility: visible;
	}
}

.menuitem:hover {
	color: #9E5EA2;
	/* border-bottom-color: #9E5EA2; */
}

.menuitem:after {
	display: block;
    content: attr(title);
    font-family: 'LatoWebMedium';
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    line-height: 1px;
}

.menuitem:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: -3px;
	margin: auto;
	border-bottom: 3px solid transparent;
	visibility: hidden;
	animation: ununderline .5s ease-in-out forwards;
	transition: border-bottom-color 0s ease-in-out 1s;
}

.menuitem:hover:before {
	border-bottom-color: #9E5EA2;
	border-right-color: #9E5EA2;
	transition: border-bottom-color 0s ease-in;
	animation: underline .5s ease-in-out forwards;
}

html {
	background-color: #28283c;
	overflow-y: scroll;
}

body {
	margin: 0;
}

#nuss {
    -webkit-transition: fill .5s ease-in-out;
    -moz-transition: fill .5s ease-in-out;
    -o-transition: fill .5s ease-in-out;
    transition: fill .5s ease-in-out;
}
               
#nuss:hover {
    fill: #9E5EA2;
}

#navbar {
	background-color: #28283c50;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

#navbar_logo {
	width: 30px;
	height: 50px;
}

a {
    text-decoration: none;
}

.menuitem {
	margin-left: 40px;
}

.menuitem, #navbar_logo {
	padding-bottom: 4px;
	border-bottom: 3px solid transparent;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: white;
	font-family: 'LatoWebLight';
	font-style: normal;
	/*transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out; */
	transition: color .3s ease-in-out;
}

.selected {
	color: #9E5EA2;
	font-family: 'LatoWebMedium';
	border-bottom: 3px solid #9E5EA2;
}

.menuitem:hover {
	color: #9E5EA2;
	/*border-bottom-color: #9E5EA2; */
}

#panelhidden {
	display: none;
}

#panel {

	margin-top: 100px;
	margin-bottom: 60px;
	position: relative;
}

@media only screen and (max-width: 770px) {
	#menu_text_block > a {
		display: block;
	}

    .menuitem, .selected {
		display: none;
	}
	
	#navbar_logo {
		display: block;
		position: absolute;
		left: 45%;
	}
	
	/*JS classes*/
	
	#mobile_menu_btn {
		-webkit-font-smoothing: antialiased;
		font-size: 30px;
		color: white;
		position: absolute;
		margin-left: 30px;
		margin-top: 7px;
		transition: color .3s ease-in-out;
        z-index: 11;
	}
	
	#mobile_menu_btn:hover {
		color: #9E5EA2;
	}
	
	#mobile_menu {
		z-index: 1;
		position: fixed;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
		/* background: radial-gradient(ellipse closest-side at center center, #38384c, #28283c); */
		background-color: #22222299;
		background-blend-mode: overlay;
		top: 0;
		padding-top: 90px;
		right: 0;
		left: 0;
		bottom: 0;
	}
	
	#menu_block {
        border-left: 2px solid #9E5EA2;
	    padding-left: 10px;
		width: 110px;
		height: 285px;
		display: block;
		position: fixed;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	
	#menu_text_block {
		display: inline-block;	
	}
	
	.p_white {
		border-bottom: 3px solid transparent;
		padding-bottom: 5px;
        font-family: 'LatoWebLight';
        font-style: normal;
		font-size: 20px;
		color: white;
		transition: color .3s ease-in-out, border-bottom-color .3s ease-in-out;
        text-align: left;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
	}
	
	.p_white:hover {
		border-bottom-color: #9E5EA2;
		color: #9E5EA2;
	}
}